{% extends "base.html.j2" %}
{% from 'bootstrap5/form.html' import render_form %}
{% from "tables.html.j2" import automation_logs_table %}

{% block content %}
    <h1 class="h2 mt-3">Automation Job</h1>
    <h2 class="h3">{{ automation.description }} ({{ automation.short_name }})</h2>

    <div style="border: 1px solid #666;" class="p-3">
        {{ render_form(form) }}
    </div>

    <h3>Logs</h3>
    {{ automation_logs_table(logs) }}

{% endblock %}
